#slide img {
    width: 700px;
    height: 530px;
    object-fit: cover;
}

#slideshow .element {
    display: inline-block;
}

#slide {
    width: 4800px;
    overflow: hidden;
    object-fit: cover;
    height: 530px;
    margin: 0 auto;
    position: relative;
}

#slideshow {
    width: 700px;
    overflow: hidden;
}

.chevron{
    width: 70px;
}

.divImg{
    position:absolute;
    z-index:1;
}

.divDesc {
    top: 500px;
    font-size: 150%;
    color: #fff;
    opacity: 0.8;
    text-align: left;
    margin-left: 2%;
}

.divTitle {
    top: 500px;
    font-size: 150%;
    margin-top: -75px;
    color: #fff;
    opacity: 0.8;
    text-align: left;
    margin-left: 2%;
}

#slideshow {
	-moz-box-shadow: 15px 15px 15px 1px #cfcfcf;
	-webkit-box-shadow: 15px 15px 15px 1px #cfcfcf;
	-o-box-shadow: 15px 15px 15px 1px #cfcfcf;
	box-shadow: 15px 15px 15px 1px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=15);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


#nav {
    position: absolute;
    margin-top: -300px;
    z-index: 2;
    width: 700px;
}

#previous, #next, #playOrStop {
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 40px;
    font-weight: 100;
    opacity: .4;
    text-align: center;
}

#previous:focus, 
#next:focus, 
#playOrStop:focus {
    outline: 0;
}

#previous {
    left: 0;
}

#next {
    right: 0;
}

#previous:hover, 
#next:hover,
#playOrStop:hover {
    opacity: .6;
    transition-duration: .2s;
}

#playOrStop {
    width: 15%;
    height: 100px;
    background: transparent;
    left: 44%;
    opacity: 0;
    border-radius: 50%;
}

/*css dots navigation*/
ul{
    list-style= none;
    width:100%;
}
ul li{
    background: #888;
    border-radius: 50%;
    display: inline-block;
    width:20px;
    height:20px;
    cursor: pointer;
}