.slideshow{ text-align: center; }

#slide {
    max-width: 800px;
    overflow: hidden;
    object-fit: cover;
    height: 530px;
    margin: 0 auto;
    position: relative;
}

#slide_next { height: auto; }

#slide_next img {
    width: 800px;
    height: 530px;
    object-fit: cover;
}



#previous, #next, #playOrStop {
    background-color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 40px;
    font-weight: 100;
    opacity: .4;
    text-align: center;
}

#previous:focus, 
#next:focus, 
#playOrStop:focus {
    outline: 0;
}

#previous {
    left: 0;
    width: 8%;
}

#next {
    right: 0;
    width: 8%;
}

#previous:hover, 
#next:hover,
#playOrStop:hover {
    opacity: .6;
    transition-duration: .2s;
}

#playOrStop {
    width: 20%;
    height: 100px;
    top: 40%;
    background: transparent;
    left: 40%;
    opacity: 0;
    border-radius: 50%;
}

.title, .desc {
    position: relative;
    margin: 0 auto;
    width: 30%;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 900;
    /*text-shadow: 3px 2px rgba(0,0,0,0.5);*/
}


#slideshow {
	-moz-box-shadow: 15px 15px 15px 1px #cfcfcf;
	-webkit-box-shadow: 15px 15px 15px 1px #cfcfcf;
	-o-box-shadow: 15px 15px 15px 1px #cfcfcf;
	box-shadow: 15px 15px 15px 1px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=15);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.navigator{
    position: relative;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.navigator i{
    margin-right: 10px;
    cursor: pointer;
}

.navigator i:last-child{
    margin-right: 0px;
}
